name: Terraform tfsec Security Scan

on:
  workflow_call:
    inputs:
      path:
        description: 'Path to Terraform directory to scan'
        required: true
        type: string
      severity:
        description: 'Minimum severity level (LOW, MEDIUM, HIGH, CRITICAL)'
        required: false
        type: string
        default: 'MEDIUM'
      terraform-version:
        description: 'Terraform version'
        required: false
        type: string
        default: '1.9.0'

jobs:
  tfsec:
    name: tfsec Security Scan
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ inputs.terraform-version }}
      
      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: ${{ inputs.path }}
          soft_fail: true
          format: default
          additional_args: --minimum-severity ${{ inputs.severity }}